<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>{% block title %}My amazing site{% endblock %}</title>
</head>

<body>
    <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
        {% block sidebar %}
        <ul>
            <li><a href="/customer_list">Customers</a></li>
            <li><a href="/product_list">Products</a></li>
        </ul>
        {% endblock %}
    </div>

    <div style="margin-left:25%">

    <div class="w3-container w3-teal">
        <h1>My Page</h1>
    </div>
    <div class="w3-container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>